.form__wrapper {
}


.form {
    display: flex;
    justify-content: center;
}
.form__inputs {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
}
.form__date {
    max-width: 100px;
}
.form__number {
    width: 100%;
}
.sneaker__form {
    flex: 0 1 300px;
}
.sneaker__form input {
    height: 50px;
    border: 1px solid rgb(6, 51, 248);
    border-radius: 8px;
    padding: 0 10px;
    font-size: 19px;
    box-sizing: border-box;
}
.form__input_active {
    border: 1px solid rgb(233, 13, 13);
}

.form__cvv {
    max-width: 100px;
}

.form__buttons_submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.form__button_submit {
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: rgb(70, 238, 70);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.form__button {
    width: 200px;
    height: 50px;
    border: 1px solid rgb(165, 165, 165);
    background-color: rgb(22, 235, 15);
    color: rgb(14, 12, 12);
    font-size: 15px;
    border-radius: 20px;
    margin-top: 20px;
}

.form__errors {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.form__error {
    max-width: 100px;
    font-size: 13px;
}

















