body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: #E7F6FF;
}
html, body {
    
}
a {
    text-decoration: none;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    
}
input:placeholder-shown {
    user-select: none;
}

h1, p, span, div {
    cursor: default;
}
#wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
}

.contain {
    width: 1500px;
    border-radius: 20px;
    background: #FFFFFF;
    
}

.page {
    padding: 45px 60px;
    
}

@media (max-width: 610px) {
    .page {
        padding: 45px 10px;
    }
    .header__img img {
        display: none;
    }
    .header__sneakers {
        margin: 0px;
    }
    .header {
        padding: 0px 10px;
    }
}