.ButtonLeft {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #222;
    border: none;
    position: relative;
    left: 20px;
    z-index: 1;
    cursor: pointer;
    background-color: #ecebeb;
    
}


