.sneaker__item{
    border-radius: 40px;
    padding: 10px 34px 34px 34px;
    border: 2px solid #F3F3F3;
    max-width: 243px;
    gap: 20px;
    align-self: start;
    
}
.sneaker__item_active {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
}
.sneaker__sneaker{
    position: relative;
}
.sneaker__sneaker img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}
.sneaker__description{
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
}
.sneaker__block{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.sneaker__price{

}
.sneaker__price p {
    opacity: .5;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}
.sneaker__price span {
    font-weight: 700;
    font-size: 16px;
}
.sneaker__add{
    outline: 1px solid #c2c2c2;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    cursor: pointer;
    user-select: none;
}
.sneaker__add img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
}
.sneaker__add:hover img {
    transform: scale(1.2);
}
.sneaker__add_active {
    outline: none;
    background: -webkit-linear-gradient(180deg, rgb(137, 240, 156), rgb(60, 199, 85));
    background: -moz-linear-gradient(180deg, rgb(137, 240, 156), rgb(60, 199, 85));
    background: linear-gradient(180deg, rgb(137, 240, 156), rgb(60, 199, 85));
    transition: all .5s;
}

.sneaker__like {
    outline: 1px solid #c2c2c2;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    position: absolute;
    top: 30px;
    left: 0;
    cursor: pointer;
    user-select: none;
}
.sneaker__like img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
}
.sneaker__like:hover img {
    transform: scale(1.2);
}
.sneaker__like_active {
    outline: none;
    background-color: #FEF0F0;
    transition: all .5s;
}

.sneaker__title:hover {
    opacity: .9;
}
.sneaker__reviews {
    position: relative;
}
.sneaker__input {
    min-width: 100%;
    max-width: 100%;
    height: 0px;
    resize: none;
    border: none;
    transition-property: height, border-radius;
    transition-duration: .5s;
    overflow: hidden;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    position: relative;
    
}
.sneaker__input_active {
    height: 150px;
    border: 1px solid rgba(41, 19, 19, 0.1);
    border-radius: 20px;
    padding: 10px 10px;
    margin: 10px -10px 0px -10px;
}





























