.sneaker__item{
    border-radius: 40px;
    padding: 10px 34px 34px 34px;
    border: 2px solid #F3F3F3;
    margin-bottom: 20px;
    max-width: 550px;
    flex: 1 1 210px;
    gap: 20px;

    
}
.sneaker__item_active {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
}
.sneaker__sneaker{
    position: relative;
}
.sneaker__sneaker img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sneaker__description{
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
}
.sneaker__block{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.sneaker__price{

}
.sneaker__price p {
    opacity: .5;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}
.sneaker__price span {
    font-weight: 700;
    font-size: 16px;
}
.sneaker__add{
    outline: 1px solid #c2c2c2;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    cursor: pointer;
}
.sneaker__add img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.sneaker__add_active {
    outline: none;
    background: -webkit-linear-gradient(180deg, rgb(137, 240, 156), rgb(60, 199, 85));
    background: -moz-linear-gradient(180deg, rgb(137, 240, 156), rgb(60, 199, 85));
    background: linear-gradient(180deg, rgb(137, 240, 156), rgb(60, 199, 85));
    transition: all .5s;
}

.sneaker__like {
    outline: 1px solid #c2c2c2;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    position: absolute;
    top: 30px;
    left: 0;
    cursor: pointer;
}
.sneaker__like img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.sneaker__like_active {
    outline: none;
    background-color: #FEF0F0;
    transition: all .5s;
}

































